<ion-radio ng-model="homeTown" ng-value="'male'">梁山镇</ion-radio>
<ion-radio ng-model="homeTown" ng-value="'male'">小路口镇</ion-radio>
<ion-radio ng-model="homeTown" ng-value="'male'">韩岗镇</ion-radio>
<ion-radio ng-model="homeTown" ng-value="'male'">徐集镇</ion-radio>
<ion-radio ng-model="homeTown" ng-value="'male'">拳铺镇</ion-radio>
<ion-radio ng-model="homeTown" ng-value="'femal'">杨营镇</ion-radio>
<ion-radio ng-model="homeTown" ng-value="'male'">韩垓镇</ion-radio>
<ion-radio ng-model="homeTown" ng-value="'male'">馆驿镇</ion-radio>
<ion-radio ng-model="homeTown" ng-value="'male'">小安山镇</ion-radio>
<ion-radio ng-model="homeTown" ng-value="'male'">马营乡</ion-radio>
<ion-radio ng-model="homeTown" ng-value="'male'">寿张集乡</ion-radio>
<ion-radio ng-model="homeTown" ng-value="'male'">黑虎庙乡</ion-radio>
<ion-radio ng-model="homeTown" ng-value="'male'">赵固堆乡</ion-radio>
<ion-radio ng-model="homeTown" ng-value="'male'">大路口乡</ion-radio>
